.svn
.hgsvn

*.pyc
*.pyo
*.swp
*.swo
*.egg
*.egg-info
*.db
*.orig
*.rej
*.DS_Store
*~
.*~
.#*
var
parts
bin
/src/*
lib64
eggs
develop-eggs
htmlcov
include
downloads
installed_eggs
.coverage
.mr.developer.cfg
.installed.cfg
dist
lib
local
etc/redis.conf
etc/mysql.cnf
etc/nginx.conf
etc/php-fpm.conf
etc/php.ini
etc/supervisor.conf
docs/Makefile
docs/doctest/
docs/doctrees/
docs/html/
docs/latex
docs/make.bat
        
