########################################################
#
# Base 
# ====
# include buildout files to build and setup dependencies
# 
#########################################################

[buildout]
extensions = mr.developer
newest = false
show-picked-versions = true
allow-hosts =
  *.python.org
  *.plone.org
  *.edgewall.org
  *.edgewall.com
  effbot.org
  github.com
download-cache = ${buildout:directory}/downloads 
# include the follwoing buildout files/parts
extends = 
    versions.cfg 
    cfgrepo/config/python-tools.cfg
    cfgrepo/config/redis-build.cfg
    cfgrepo/config/redis-conf.cfg
    cfgrepo/config/mariadb-build.cfg
    cfgrepo/config/mysql-conf.cfg
    cfgrepo/config/php-build.cfg
    cfgrepo/config/php-conf.cfg
    cfgrepo/config/php-unittest.cfg
    cfgrepo/config/nginx-build.cfg
    cfgrepo/config/nginx-conf.cfg
    cfgrepo/config/supervisor.cfg
    cfgrepo/config/magento.cfg
parts =
#get current user
    env
# redis 
    redis-build
    redis-cnf
#unpack magento
    magento-build
#webshop (magento) api 
    webshop_api
    webshop_api_build_docs 
    python_tools 
    pytest
    resty
#mysql
    mysql-build
    mysql-cnf
    mysql-bin
    mysqladmin-bin
    mysqldump-bin
    init-mysql-db
#php
    php-build
    php-redis
    php-fpm.conf
    phpunit-install
    php-bin
#magento
    organicseeds_translations 
    organicseeds_theme 
    organicseeds_sorte 
    organicseeds_profile 
    organicseeds_paymentsativa
    third_party_extensions 
    redis_cache
    redis_session
    autoshipping
    germansetup
    payone
    invoice
    debit
    groupscatalog
    shipping_payment_filter
    magento-install
    magento-conf-generate
    magento-update-conf-bin
    magento-export-cms
    magento-export-payone
    modman-extensions
    wiz-bin
    magento-mtool
#nginx
    nginx-build
    nginx-conf
#supervisor
    supervisor-bin
    pidproxy-bin
    supervisor-init

#set python packages versions
versions = versions

# python source code  
auto-checkout = * 

[sources]
yaml2json = git git@github.com:joka/yaml2json.py.git
organicseeds_webshop_api = git git@bitbucket.org:organic_seeds/organicseeds_webshop_api.git
magento = git git@github.com:openlabs/magento.git

# php source code  
[organicseeds_translations]
recipe = git-recipe
download-directory = ${buildout:directory}/src
ref = HEAD
repository = git@bitbucket.org:organic_seeds/organicseeds_translations.git

[organicseeds_theme]
recipe = git-recipe
download-directory = ${buildout:directory}/src
ref = HEAD
repository = git@bitbucket.org:organic_seeds/organicseeds_theme.git
 
[organicseeds_sorte]
recipe = git-recipe
download-directory = ${buildout:directory}/src
ref = HEAD
repository = git@bitbucket.org:organic_seeds/organicseeds_sorte.git

[organicseeds_profile]
recipe = git-recipe
download-directory = ${buildout:directory}/src
ref = HEAD
repository = git@bitbucket.org:organic_seeds/organicseeds_profile.git

[organicseeds_paymentsativa]
recipe = git-recipe
download-directory = ${buildout:directory}/src
ref = HEAD
repository = git@bitbucket.org:organic_seeds/organicseeds_paymentsativa.git

[magento-mtool]
recipe = git-recipe
download-directory = ${buildout:directory}/lib/
ref = HEAD
repository = git://github.com/dankocherga/MTool.git 

[third_party_extensions] 
recipe = git-recipe
download-directory = ${buildout:directory}/src
ref = HEAD
repository = git@bitbucket.org:organic_seeds/third_party_extensions.git

[redis_cache]
recipe = git-recipe
ref = HEAD
download-directory = ${buildout:directory}/src
repo_name = redis_cache 
ref = 28e975c97f3ea04f28c4203ad4853610c385b0b6
repository = https://github.com/colinmollenhour/Cm_Cache_Backend_Redis.git

[redis_session]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = redis_session 
ref = HEAD
repository = https://github.com/colinmollenhour/Cm_RedisSession.git 

[autoshipping]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = autoshipping 
ref = HEAD
repository = https://github.com/integer-net/Autoshipping.git

[germansetup]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = germansetup
ref = HEAD
repository = https://github.com/firegento/firegento-germansetup.git

[payone]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = payone
ref = HEAD
repository = https://github.com/PAYONE/magento.git

[invoice]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = invoice
ref = HEAD
repository = https://github.com/itabs/Itabs_Invoice.git

[debit]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = debit
ref = HEAD
repository = https://github.com/therouv/Magento-DebitPayment.git 
                                           
[groupscatalog]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = groupscatalog
ref = HEAD
repository = https://github.com/Vinai/groupscatalog2.git       

[shipping_payment_filter]
recipe = git-recipe
download-directory = ${buildout:directory}/src
repo_name = shipping_payment_filter
ref = HEAD
repository = https://bitbucket.org/alexsiri7/qbshippingandpaymentfilters.git


#Helpers

[resty]
# https://github.com/micha/resty - restfull curl wrapper
recipe = hexagonit.recipe.download
url = https://github.com/micha/resty/archive/2.2.zip
destination = ${buildout:directory}/lib
strip-top-level-dir = false
ignore-existing = true

#nginx build options
[nginx-build]       
keep-compile-dir = false
configure-options = 
    --with-http_ssl_module
    --with-http_sub_module

#get current user
[env]
recipe = gocept.recipe.env
